$primary: #d97e79;
$secondary: #4a3d3c;

.data-images {
    width: 100% !important;
    height: auto !important;
    padding: 12px;
}

.photos {
    line-height: 0;
    // padding: 12px;

    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

@media (max-width: 1200px) {
    .photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    .photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 800px) {
    .photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 600px) {
    .photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.popup {
    // overflow-x: visible;
    box-shadow: 0 0 8px 1px rgba(7, 10, 25, 0.4);
    position: fixed;
    display: none;
    height: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    // background: #121212;
    // color: #fafafb;
    overflow-y: auto;

    .close-btn {
        box-shadow: 2px 2px 2px -1px rgba(7, 10, 25, 0.2);
        background: $primary;
        position: absolute;
        border-radius: 15px;
        top: 6px;
        right: 28px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .expand-btn {
        @extend .close-btn;

        right: 65px;
    }

    .wrapper {
        max-width: 900px;
        margin: auto;
    }

    .title {
        padding: 12px 12px 0 12px;
    }
    .meaning {
        padding: 12px;
        font-family: Roboto;
        color: #424242;
        line-height: 1.8;
        letter-spacing: 0.5px;
    }
}

.open {
    height: 20vh;
    display: block;
    animation: swipeup 0.3s ease;
}

.expanded {
    transition: 0.1s ease;
    height: 70vh;

    .expand-btn {
        @extend .close-btn;

        img {
            transform: rotate(-180deg);
        }
    }
}

@keyframes swipeup {
    from {
        height: 0vh;
    }
    to {
        height: 20vh;
    }
}

.close {
    height: 0vh;
    animation: swipedown 0.3s ease;
}

@keyframes swipedown {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}
