$primary-text: #424242;
$secondary-text: rgba(12, 12, 13, 0.8);
$cover-tint: rgba(245, 245, 245, 0.8);

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    &:first-child {
        margin-top: 1.5rem;
    }

    .cover-container {
        position: relative;
        width: 100vw;
        height: 400px;
        cursor: pointer;
        max-width: 1080px;
        // box-shadow: 0px 6px 30px rgba(#000000, 0.4);
        box-shadow: 0 3px 12px -1px rgb(7, 10, 25 / 20%),
            0 22px 27px -20px rgb(7, 10, 25 / 20%);
    }

    &-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-covertext {
        font-family: Josefin Sans;
        color: #242323;
        font-weight: bold;

        overflow: hidden;
        display: flex;
        width: auto;
        max-width: 700px;
        font-size: 28px;
        position: absolute;
        bottom: 1.5rem;
        left: 12px;

        right: 1.5rem;
        background-color: $cover-tint;
        padding: 20px;
        padding-left: 30px;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);
    }
    &-likes {
        color: $primary-text;
        box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);
        position: absolute;
        height: 2.5rem;
        background-color: $cover-tint;
        position: absolute;
        top: 12px;
        right: 12px;
        border-radius: 4px;
        text-align: center;
        padding: 10px;
        img {
            height: 1.5rem;
            padding-right: 3px;
        }

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-meta {
        padding: 6px;
        position: relative;
        max-width: 800px;
        width: 90vw;

        &-reduced {
            margin-top: 6px;
            padding: 6px 0;
            div {
                color: #424242;
                white-space: normal;
                text-align: center;
                line-height: 20px;
                height: 100px;
                overflow: hidden;
                text-overflow: ellipsis !important;
            }
        }

        // &-source,
        // &-category {
        //    apply styles here
        // }
    }
}
