.App {
    background-color: #f2f2f2;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    &-main {
        min-height: 50vh;
        position: relative;
        background-color: #fff;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5rem;
    }
}
