.App {
    background-color: var(--root-bg);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    &-main {
        min-height: 50vh;
        position: relative;
        background-color: var(--color-bg);
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5rem;
    }
}

.page-loading-text {
    padding: 12px 0;
    color: var(--color-text-primary);
}

.visible {
    display: block !important;
}

.popup-bg-tint {
    background: rgba(7, 10, 25, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // display: none;
    align-items: center;
    justify-content: center;
}
