.image-bg {
    background: #121212ee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: zoom-out !important;
}

.is-active {
    display: flex;
}

.image-current {
    cursor: zoom-out !important;
    width: 100% !important;
    height: auto !important;
    max-width: 900px;
}

.toast {
    position: absolute;
    bottom: 10px;
    margin: auto;
    font-family: Josefin Sans;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ddd;
    z-index: 99;
    background-color: #fff;
    width: fit-content;
    font-size: 14px;
    margin-top: 10px;
    transition: opacity 500ms;
}

.smartjyt-info-msg {
    color: #059;
    background-color: #bef;
}
.smartjyt-success-msg {
    color: #270;
    background-color: #dff2bf;
}
.smartjyt-warning-msg {
    color: #9f6000;
    background-color: #feefb3;
}
.smartjyt-error-msg {
    color: #d8000c;
    background-color: #ffbaba;
}
