.chapter-list-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.chapter-list-item {
    &:hover {
        cursor: pointer;
        background-color: #f9f9f9;
        transition-duration: 0.4s;
    }
    animation: apearcer 0.4s ease;
    margin-bottom: 1.5rem;
    width: 90vw;
    max-width: 900px;
    height: 80px;
    display: flex;
    align-items: center;

    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(#000, 0.12);

    &-icon,
    &-title {
        padding: 0px 12px;
        font-family: Josefin Sans;
    }
}

.subject-content-page {
    animation: apearcer 0.4s ease;
}
