/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    // background: #2c3e50;
    background-image: none;

    background: var(--color-input-bg);
    color: var(--color-text-heading);
    text-align: center;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    // background: #2c3e50;
    overflow: hidden;
    border-radius: 0.25em;

    height: 40px;
    box-shadow: 0 2px 8px rgba(12, 12, 13, 0.1);
    margin: 12px 0;
    width: 700px;
    max-width: 95vw;
    text-align: center;
}
select {
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    color: var(--color-text-primary);
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    // background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
    color: var(--primary-accent);
}
.input,input{
    border-radius: 0px;
    text-align: left;
    box-shadow:none;
}
