$primary: #d97e79;
$secondary: #4a3d3c;

.author {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    max-width: 960px;

    &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1.5rem;
        div {
            height: 100px;
            width: 100px;
            border-radius: 50px;
            box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-text {
        padding-right: 12px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        &-name {
            color: #242323;
            font-family: Josefin Sans;
        }

        &-description {
            width: 100%;
            color: #424242;
            padding-bottom: 12px;
        }
        &-articles {
            width: 25%;
            min-width: 156px;
        }
    }
}
