$primary: #d97e79;
$secondary: #4a3d3c;

.article-content {
    font-family: Roboto !important;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #424242;
    width: 95vw;
    max-width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    strong {
        display: block;
        padding: 0.5rem 0;
    }

    h1 {
        font-size: 1.5em;
        font-weight: bolder;
    }

    span {
        cursor: pointer;
    }

    button {
        border: none;
        background: #fff !important;
        cursor: pointer;
    }

    text-overflow: ellipsis !important;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    .label {
        flex-direction: column;
    }
}

.action-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-bookmark {
    position: absolute;
    bottom: -30px;
    height: 60px;
    width: 60px;
    background-color: $primary;
    border-radius: 30px;
    right: 1.5rem;
    box-shadow: 0 2px 8px rgba(12, 12, 13, 0.3);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
