.categories {
    background-color: #f4f7f6;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: row;
}

.category-link-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.switch-mode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    padding: 0 12px;
    background: #d97e79;
    cursor: pointer;
    margin-right: 6px;

    svg {
        fill: #fff;
    }
}

.categories-link {
    font-family: Josefin Sans;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: 16px;
    background: #fff;
    color: #424242;
    padding: 4px 6px;
    padding-top: 8px;

    &:hover {
        background-color: #f9f9f9 !important;
        transition-duration: 0.4s;
        color: #424242;
    }
}
