.classnotes-by-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    &-name {
        color: var(--color-text-heading);
        font-family: Josefin Sans;
    }

    &-description {
        margin: 6px 0;
        color: var(--color-text-primary);
    }
}
