.subjects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.subjectcard {
    background: var(--color-input-bg);
    animation: apearcer 0.4s ease;
    position: relative;
    box-shadow: 0 4px 12px rgba(#000, 0.12);

    &:hover {
        background-color: var(--root-bg);
        transition-duration: 0.4s;
        transform: translateY(-5px);
    }

    &-cover {
        position: relative;
        width: 300px;
        height: 200px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-text {
        color: var(--color-text-heading);
        font-family: Josefin Sans;
        font-weight: 400;
        padding: 12px;
        text-align: center;
    }
}
.pad{
    padding-top: 30px;
}
.ser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Sbar{
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
    border-radius: 3px;
    padding: 13px;
    height:50px;
    width: 500px;
    &:focus::placeholder{
        color:transparent;
        transition-duration: 0.4s;
        //transform: translateY(-5px);
    }
}
.Sbut{
    width: 50px;
    /* padding-top: 0px; */
    background-color: #D97E79;
    height: 50px;
    margin-top: 12px;
    padding: 12px;
    border-radius:3px;
    cursor: pointer;
    transition:padding 1s;
    &:hover{
        padding: 16px;
        background-color:  #EBC5B9;
        //transition-duration: 0.4s;
        //transform: translateY(-5px);
    }
}

