.subjects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.subjectcard {
    background: var(--color-input-bg);
    animation: apearcer 0.4s ease;
    position: relative;
    box-shadow: 0 4px 12px rgba(#000, 0.12);

    &:hover {
        background-color: var(--root-bg);
        transition-duration: 0.4s;
        transform: translateY(-5px);
    }

    &-cover {
        position: relative;
        width: 300px;
        height: 200px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-text {
        color: var(--color-text-heading);
        font-family: Josefin Sans;
        font-weight: 400;
        padding: 12px;
        text-align: center;
    }
}
