$primary: #d97e79;
$secondary: #4a3d3c;

.photos img {
    padding: 12px;
    display: block;
    float: left;
    flex: 0 0 auto;
}

@media screen and (min-width: 1024px) {
    .photos img {
        width: calc(100% / 6);
        height: calc(100% / 6);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photos img {
        width: calc(100% / 4);
        height: calc(100% / 4);
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .photos img {
        width: calc(100% / 3);
        height: calc(100% / 3);
    }
}

@media screen and (max-width: 600px) {
    .photos img {
        width: 100%;
        height: 100%;
    }
}

.popup {
    // overflow-x: visible;
    z-index: 99999999999999;
    box-shadow: 0 0 8px 1px rgba(7, 10, 25, 0.2);
    position: fixed;
    display: none;
    height: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f9f9f9;
    // background: #121212;
    // color: #fafafb;
    overflow-y: auto;

    .close-btn {
        box-shadow: 2px 2px 2px -1px rgba(7, 10, 25, 0.2);
        background: $primary;
        position: absolute;
        border-radius: 15px;
        top: 6px;
        right: 28px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .expand-btn {
        @extend .close-btn;

        right: 65px;
    }

    .wrapper {
        max-width: 900px;
        margin: auto;
    }

    .title {
        padding: 12px 12px 0 12px;
    }
    .meaning {
        padding: 12px;
        font-family: Roboto;
        color: #424242;
        line-height: 1.8;
        letter-spacing: 0.5px;
    }
}

.open {
    height: 20vh;
    display: block;
    animation: swipeup 0.3s ease;
}

.expanded {
    transition: 0.1s ease;
    height: 70vh;

    .expand-btn {
        @extend .close-btn;

        img {
            transform: rotate(-180deg);
        }
    }
}

@keyframes swipeup {
    from {
        height: 0vh;
    }
    to {
        height: 20vh;
    }
}

.close {
    height: 0vh;
    animation: swipedown 0.3s ease;
}

@keyframes swipedown {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}
