.photos img {
    padding: 12px;
    display: block;
    float: left;
    flex: 0 0 auto;

    &:hover {
        cursor: zoom-in;
    }
}
.title-popup {
    annotation {
        color: black !important;
    }
}

@media screen and (min-width: 1024px) {
    .photos img {
        width: calc(100% / 6);
        height: calc(100% / 6);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photos img {
        width: calc(100% / 4);
        height: calc(100% / 4);
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .photos img {
        width: calc(100% / 3);
        height: calc(100% / 3);
    }
}

@media screen and (max-width: 600px) {
    .photos img {
        width: 100%;
        height: 100%;
    }
}

.popup {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    // overflow-x: visible;
    z-index: 99999999999999;
    box-shadow: 0 0 8px 1px rgba(7, 10, 25, 0.2);
    position: fixed;
    display: none;
    height: 0%;
    bottom: 10px;
    left: auto;
    right: auto;
    background: var(--popup-bg);
    // background: #121212;
    // color: #fafafb;
    overflow-y: auto;

    .close-btn {
        box-shadow: 2px 2px 2px -1px rgba(7, 10, 25, 0.2);
        background: var(--primary-accent);
        position: absolute;
        border-radius: 15px;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .expand-btn {
        @extend .close-btn;

        display: none;

        right: 65px;
    }

    .wrapper {
        max-width: 950px;
        margin: auto;
    }

    .title {
        cursor: pointer;
        padding: 12px 12px 0 12px;
        color: var(--color-text-heading);

        small {
            cursor: default;
            color: gray;
        }
    }
    .meaning {
        cursor: pointer;
        padding: 12px;
        font-family: Roboto;
        color: var(--color-text-primary);
        line-height: 1.8;
        letter-spacing: 0.5px;
    }
}

.open {
    // height: 20vh;
    max-height: 70vh;
    height: fit-content;
    display: block;
    animation: swipeup 0.3s ease;
}

.expanded {
    transition: 0.1s ease;
    height: 70vh;

    .expand-btn {
        @extend .close-btn;

        img {
            transform: rotate(-180deg);
        }
    }
}

@keyframes swipeup {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.close {
    height: 0vh;
    animation: swipedown 0.3s ease;
}

@keyframes swipedown {
    from {
        height: 70vh;
    }
    to {
        height: 0vh;
    }
}
