.footer {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
}

.copyright-text {
    // background-color: green;
    padding-top: 8px;
}
