.footer {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    // background: green;
    color: #424242;
    font-family: Josefin Sans;
}

.copyright-text {
    // background-color: green;
    padding-top: 8px;
    color: #424242;
}
