.footer {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--root-bg);
    // background: green;
    font-family: Josefin Sans;
    // border-bottom: 1px solid var(--color-input-border);
}

.copyright-text {
    // background-color: green;
    padding-top: 12px;
    color: var(--color-text-secondary);
}
