@import './app/theme/colors';

:root {
    --root-bg: #{$white};
    --primary-accent: #{$accent-1};
    --secondary-accent: #{$accent-2};
    --color-bg: #{$bg-light};
    --color-card-bg: #{$bg-card-light};
    --color-text-primary: #{$text-primary-light};
    --color-text-heading: #{$primary-text-heading};
    --color-text-secondary: #{$text-secondary-light};
    --color-input-bg: #{$input-bg-light};
    --color-input-border: #{$input-border-light};
    --primary-icon: #{$primary-icon-light};
    --secondary-icon: #{$secondary-icon-light};
}

.dark {
    --root-bg: #{#242526};
    --color-bg: #{#18191a};
    --color-card-bg: #{$bg-card-dark};
    --color-text-primary: #{$text-primary-dark};
    --color-text-heading: #{$primary-text-heading-dark};
    --color-text-secondary: #{$text-secondary-dark};
    --color-input-bg: #{$input-bg-dark};
    --color-input-border: #{$input-border-dark};
    --primary-icon: #{$primary-icon-dark};
    --secondary-icon: #{$secondary-icon-dark};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans'),
        url(./app/assets/fonts/josefin-sans-v17-latin-regular.woff)
            format('woff'),
        url(./app/assets/fonts/roboto-v27-latin-regular.woff2)
            format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url(./app/assets/fonts/nunito-sans-v6-latin-regular.woff)
            format('woff'),
        url(./app/assets/fonts/roboto-v27-latin-regular.woff2)
            format('woff2');
}

body {
    margin: 0;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}
