* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans'),
        url(./app/assets/fonts/josefin-sans-v17-latin-regular.woff)
            format('woff'),
        url(./app/assets/fonts/roboto-v27-latin-regular.woff2)
            format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url(./app/assets/fonts/roboto-v27-latin-regular.woff)
            format('woff'),
        url(./app/assets/fonts/roboto-v27-latin-regular.woff2)
            format('woff2');

    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

body {
    margin: 0;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}
