//base styles

$primary: #d97e79;
$secondary: #4a3d3c;
$white: #fff;
$black: #000;

.btn {
    &-primary {
        @extend .btn;
    }
    &-secondary {
        @extend .btn;
        background: $secondary;

        &:disabled {
            background: rgba($secondary, 0.4);
        }
    }

    &-circle {
        @extend .btn;
        width: 40px;
        padding: 0;

        img {
            height: 13px;
        }
    }

    &-rectangle {
        @extend .btn;

        width: 40px;
        background: #4a3d3c;
        border-radius: 6px;

        img {
            height: 13px;
        }
    }

    height: 40px;
    padding: 10px 20px;
    padding-top: 16px;

    border: none;
    cursor: pointer;
    background: $primary;
    color: $white;
    box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);
    border-radius: 20px;
    font-family: Josefin Sans;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
        box-shadow: none;
        cursor: default;
        background: rgba($primary, 0.6);
    }
}
