//base styles

$primary: #d97e79;
$secondary: #4a3d3c;
$white: #fff;
$black: #000;

.btn {
    &-primary {
        @extend .btn;

        &:hover {
            transition-duration: 0.4s;
            background: #ffffff;
            color: #d97e79;
            svg {
                fill: #d97e79;
            }
        }
    }
    &-secondary {
        @extend .btn;
        background: $secondary;

        &:disabled {
            background: rgba($secondary, 0.4);
        }
    }

    &-circle {
        @extend .btn;
        width: 40px;
        padding: 0;

        &:hover {
            transition-duration: 0.4s;
            background: #ffffff;
            color: #d97e79;
            svg {
                fill: #d97e79;
            }
        }
    }

    &-rectangle {
        border: none;
        cursor: pointer;
        height: 40px;
        width: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);

        border-radius: 6px;

        background: $secondary;
        color: #fff;

        svg {
            fill: #fff;
        }

        &:hover {
            transition-duration: 0.4s;
            background: #ffffff;
            color: $secondary;
            svg {
                fill: $secondary;
            }
        }
    }

    svg {
        fill: #fff;
        height: 16px;
    }

    height: 40px;
    padding: 10px 20px;
    padding-top: 16px;

    border: none;
    cursor: pointer;
    background: $primary;
    color: $white;
    box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);
    border-radius: 20px;
    font-family: Josefin Sans;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:disabled {
        box-shadow: none;
        cursor: default;
        background: rgba($primary, 0.6);
    }
}
