//base styles
.btn {
    &-primary {
        @extend .btn;

        &:hover {
            transition-duration: 0.4s;
            background: var(--root-bg);
            color: var(--primary-accent);
            svg {
                fill: var(--primary-accent);
            }
        }
    }
    &-secondary {
        @extend .btn;
        background: var(--secondary-accent);

        &:disabled {
            background: rgba(var(--secondary-accent), 0.4);
        }
    }

    &-circle {
        @extend .btn;
        width: 40px;
        padding: 0;

        &:hover {
            transition-duration: 0.4s;
            background: var(--root-bg);
            color: var(--primary-accent);
            svg {
                fill: var(--primary-accent);
            }
        }
    }

    &-rectangle {
        border: none;
        cursor: pointer;
        height: 40px;
        width: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);

        border-radius: 6px;

        background: var(--secondary-accent);
        color: var(--root-bg);

        svg {
            fill: var(--root-bg);
        }

        &:hover {
            transition-duration: 0.4s;
            background: var(--root-bg);
            color: var(--secondary-accent);
            svg {
                fill: var(--secondary-accent);
            }
        }
    }

    svg {
        fill: var(--root-bg);
        height: 16px;
    }

    height: 40px;
    padding: 10px 20px;
    padding-top: 16px;

    border: none;
    cursor: pointer;
    background: var(--primary-accent);
    color: var(--root-bg);
    box-shadow: 0 2px 8px rgba(12, 12, 13, 0.2);
    border-radius: 20px;
    font-family: Josefin Sans;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:disabled {
        box-shadow: none;
        cursor: default;
        background: rgba(var(--primary-accent), 0.6);
    }
}
