.article-tag {
    &-logo {
        height: 24px;
        margin-right: 6px;
    }

    &:last-child {
        padding-left: 12px;
    }

    padding-top: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    &-title {
        font-family: Josefin Sans;
        color: var(--color-text-secondary);
        text-decoration: underline;
        font-weight: 600;

        &:hover {
            text-decoration: none;
            color: var(--primary-accent);
            transition-duration: 0.4s;
        }
    }

    &-date {
        font-family: Josefin Sans;
        color: var(--color-text-secondary);
        font-weight: 600;
    }
}

@media only screen and (max-width: 600px) {
    .article-tag {
        &:last-child {
            padding-left: 0;
        }
    }
}
